<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Facturate</title>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://use.fontawesome.com/ca2bccbdf3.js"></script>
</head>
<body>
	<ul class="nav justify-content-center">
        <li>    
			<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Facturate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contacto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Sobre mi</a>
        </li>
    </ul>
		
    <div class="container body-content">
        @RenderBody()
    </div>
    
    <footer class="footer">
        <h4>Developer By <small>maxalvarez</small> 2017 <small>Facturat DotNet Core. </small></h4>
    </footer>
		
    @RenderSection("Scripts", required: false)
		
</body>
</html>
