@model Task<IEnumerable<Facturat.Models.Factur>>
@{
    ViewData["Title"] = "Facturat";   
}
@{
    double total = 0; 
    foreach(var factur in @Model.Result){
        total = Math.Round(total + factur.Amount, 2);
    }
}

<link rel="stylesheet" href="~/css/facturat.css" type="text/css" />
<div class="container">
	<div class="row"> 
        <div class="col-sm">
            <h3>Facturas</h3>
            
            <div id="results" style="width: 100%">
                <ul id="facturs" class="list-group">
                    @foreach(var item in @Model.Result) {
                        <li id="@item.Id" class="list-group-item element">
                            <span>@item.Name</span> - <span>@item.Tipo</span> - <span>@item.Amount</span>
                            <button class="btnDelete btn btn-danger" type="submit" onclick="deleteFactur(this)"><i class="fa fa-trash-o" aria-hidden=true></i></button>
                        </li>
                    }
                </ul>
            
                <label>Total: <span id="totalamount">@total</span></label>
            </div>

        </div>


        <div class="col-sm"><h4>Nuevo Ingreso</h4>

        <form>
            <div class="form-row align-items-center">
                <div class="col-auto fix">
                    <input id="name" class="form-control mb-2 mb-sm-0" type="text" name="name" placeholder="Edesur" required ="true">
                </div>
					
                <div class="col-auto fix">
                    <div class="input-group mb-2 mb-sm-0">
                        <div class="input-group-addon addon_amount">$</div>
                        <input id="amount" type="text" class="form-control mb-2 mb-sm-0" name="amount" placeholder="5770.55" required="true">
                    </div>
                </div>
				<div class="col-auto fix">
                  <select id="tipo" name="tipo" class="custom-select mb-2 mr-sm-2 mb-sm-0" >
                    <option selected="true">Tipo...</option>
                    <option value="Producto">Producto</option>
                    <option value="Servicio">Servicio</option>
                    <option value="Prestamo">Prestamo</option>
                    <option value="Otro">Otro</option>
                  </select>
                </div>
               
                <div class="col-auto fix">
                    <buttom id="add" type="submit" class="btn btn-primary">Add</buttom>
                </div>
            </div>
         </form>


			
            <!--form id="inputs" class="form">
        	
                <div class="form-row form-inline">
					<label for="amount" class="col-sm col-form-label">Monto en $</label>
                    <input id="amount" class="form-control form-control-sm" type="text" name="amount" placeholder="5770.55" required="true"/>
                </div>

        	    <div class="form-row">   
                    <label for="name" class="col-sm col-form-label">Nombre producto/servicio</label>
                    <input id="name" class="form-control form-control-sm" type="text" name="name" placeholder="Edesur" required ="true"/>
                </div>

        	    <div class="form-group row"><buttom id="add" type="submit" class="btn btn-primary">Add</buttom></div>
            </form-->
    	</div>
    </div>
</div>

<div class='alert' style='display:none'></div>
<script type="text/javascript" src="~/js/facturat.js"></script>



