﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>La aplicacion <strong>Facturat</strong> esta pensada para poder administrar sus gastos mensuales.</p>
<p>Puede cargar sus servicios y/o productos a consumir durante el periodo que desee.</p>
<p>Al agregar un presupuesto puede tener mayor control sobre el resto que obtendra.</p>
<p>Tambien se le daran recomendaciones para poder mejorar su economia.</p>  
<hr/>
<p>Ante cualquier inquietud <a href="/Home/Contact">contacteme</a></p>
<p>Que disfrute la aplicacion.</p>
