﻿@{
    ViewData["Title"] = "Contacto";
}
<h3>@ViewData["Message"]</h3>

<address>
    <strong title="Phone">Telefono personal:</strong>
    011-6859-2433
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:maximilianoe.alvarez@yahoo.com.ar">Maximilianoe.alvarez@yahoo.com.ar</a><br />
    <strong>Personal:</strong> <a href="mailto:locura.elias@gmail.com">Locura.elias@gmail.com</a>
</address>
