﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron welcome">
    <h3>Bienvenido a Facturate!</h3>
	<a href="/Facturat" class="btn btn-default">Comenzar</a>
</div>

<div class="container row">
    <div class="col">
		<p>Administra tus consumos</p>
		<img/> 
	</div>
	<div class="col">
        <p>Administra tus servicios</p>
        <img/> 
    </div>
	<div class="col">
        <p>Obtener control y asistencia para tu economia</p>
        <img/> dale
    </div>
</div> 