﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 80%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.welcome{
    margin-top: 15px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    input,
    select,
    textarea {
        max-width: 240px;
    }
}


footer {
    background-color: black;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    padding: 3px 8px;
    overflow:hidden;
     -webkit-box-shadow: 0px 4px 1px -1px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 4px 1px -1px rgba(0,0,0,0.17);
    box-shadow: 0px 4px 1px -1px rgba(0,0,0,0.17);
}

.firma {
    margin: 0px 0px 0px 5px;
}
